* {
  box-sizing: border-box;
}

body {
  /* margin: 0;
  padding: 0; */
}

.map {
  width: auto;
  height: 700px;
}
/* For forecast table */
#forecast-data-table td {
  /* text-align: center; */
}

#forecast-data-table .header-left {
  /* text-align: left; */
}

span {
  /* display: block; */
}
/* Custom Control Styling */
.ol-control button {
  background-color: red;
  /* background-color: red !important; */
  font-size: x-large;
}
.ol-control button:hover {
  background-color: blue;
  /* background-color: red !important; */
}

.ol-control button:focus {
  background-color: green;
  /* background-color: red !important; */
}

.ol-zoom {
  left: unset;
  right: 15px;
}

.ol-overviewmap {
  bottom: 2.5em;
}

.ol-scale-bar {
  margin-left: 1px;
}

#windy {
  width: 100%;
  height: 600px;
}
    
#container {
    height: 400px;
    width: 1150px;
    
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 0;
}

.highcharts-data-table table {
    font-family: sans-serif,Verdana;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
