* {
  box-sizing: border-box;
}

body {
  /* margin: 0;
  padding: 0; */
}

.map {
  width: auto;
  height: 700px;
}

/* Custom Control Styling */
.ol-control button{
  background-color: red;
  /* background-color: red !important; */
  font-size: x-large;
}
.ol-control button:hover{
  background-color: blue;
  /* background-color: red !important; */
}

.ol-control button:focus{
  background-color: green;
  /* background-color: red !important; */
}

.ol-zoom{
  left: unset;
  right: 15px;
}

.ol-overviewmap{
  bottom: 2.5em;
}

.ol-scale-bar{
  margin-left: 1px;
}